@import url('Mono.css');

.poster_number_0, .poster_number_0 a {
	color:#4CCE6F;
}
.poster_number_1, .poster_number_1 a {
	color:#AF62EA;
}
.poster_number_2, .poster_number_2 a {
	color:#C43C51;
}
.poster_number_3, .poster_number_3 a {
	color:#c88900;
}
.poster_number_4, .poster_number_4 a {
	color:#EA2E86;
}
.poster_number_5, .poster_number_5 a {
	color:#008391;
}
.poster_number_6, .poster_number_6 a {
	color:#846600;
}
.poster_number_7, .poster_number_7 a {
	color:#CC9EEF;
}
.poster_number_8, .poster_number_8 a {
	color:#A4A584;
}
.poster_number_9, .poster_number_9 a {
	color:#019E89;
}
.poster_number_10, .poster_number_10 a {
	color:#BCBC62;
}
.poster_number_11, .poster_number_11 a {
	color:#AD0034;
}
.poster_number_12, .poster_number_12 a {
	color:#8e236b;
}
.poster_number_13, .poster_number_13 a {
	color:#6b8e23;
}
.poster_number_14, .poster_number_14 a {
	color:#d9d919;
}
.poster_number_15, .poster_number_15 a {
	color:#8080F7;
}
.poster_number_16, .poster_number_16 a {
	color:#9932cd;
}
.poster_number_17, .poster_number_17 a {
	color:#F70202;
}
.poster_number_18, .poster_number_18 a {
	color:#ff7f00;
}
.poster_number_19, .poster_number_19 a {
	color:#FAFF84;
}
.poster_number_20, .poster_number_20 a {
	color:#99cc32;
}
.poster_number_21, .poster_number_21 a {
	color:#ffffff;
}
.poster_number_22, .poster_number_22 a {
	color:#4263B2;
}
.poster_number_23, .poster_number_23 a {
	color:#939305;
}
.poster_number_24, .poster_number_24 a {
	color:#ff8072;
}
.poster_number_25, .poster_number_25 a {
	color:#00cc11;
}
.poster_number_26, .poster_number_26 a{
	color:#00ced1;
}
.poster_number_27, .poster_number_27 a {
	color:#ff00ff;
}
.poster_number_28, .poster_number_28 a {
	color:#7b68ee;
}
.poster_number_29, .poster_number_29 a {
	color:#afeeee;
}
.poster_number_30, .poster_number_30 a {
	color:#B5B1B1;
}